# This workflow uses actions that are not certified by GitHub.  They are
# provided by a third-party and are governed by separate terms of service,
# privacy policy, and support documentation.
#
# This workflow will install a prebuilt Ruby version, install dependencies, and
# run tests and linters.
name: "Verify Ruby on Rails"
on:
  push:
    branches: ["main", "develop"]
  pull_request:
    branches: ["main", "develop"]

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:11-alpine
        ports:
          - "5432:5432"
        env:
          POSTGRES_DB: rails_test
          POSTGRES_USER: rails
          POSTGRES_PASSWORD: ""
    env:
      RAILS_ENV: test
      DATABASE_URL: "postgres://rails:password@localhost:5432/rails_test"

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # Add or replace dependency steps here
      - name: Setup Ruby and install gems
        uses: ruby/setup-ruby@55283cc23133118229fd3f97f9336ee23a179fcf # v1.146.0
        with:
          ruby-version: '3.2.2'
          bundler-cache: true

      # Add or replace database setup steps here
      - name: Set up database schema
        # run: ../tesi-app/bin/rails db:schema:load
        run: 

      # Add or replace test runners here
      - name: Run tests
        run: ../tesi-app/bin/rake

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Ruby and gems
        uses: ruby/setup-ruby@55283cc23133118229fd3f97f9336ee23a179fcf # v1.146.0
        with:
          bundler-cache: true
          ruby-version: '3.2.2'

      # Add or replace any other lints here
      - name: Security audit dependencies
        # run: ../tesi-app/bin/bundler-audit --update

      - name: Security audit application code
        # run: ../tesi-app/bin/brakeman -q -w2

      - name: Lint Ruby files
        run:
        # run: |
          # ../tesi-app/bin/rubocop --parallel
          # ../tesi-app/bin/stylelint
          # ../tesi-app/bin/prettier
          # ../tesi-app/bin/eslint
